* {
    box-sizing: border-box;
}

#header {
    text-align: center;
    font-size: 40px;
    font-family: Arial;
}


body {
    background-color: #A06137;
}

p {
    font-family: 'Roboto Condensed', sans-serif;
    color: #fa8f0e

}

header {
    font-family: 'IM Fell Great Primer SC', serif;
    font-weight: bold;
    color: #7d2f4c;
    

}

li {
    font-family: 'Roboto Condensed', sans-serif;
    color: #20363C
    

}
.buttonDiv {
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 5rem;
    
}